/*style.css*/
body {
	background-color: #fff;
	margin: 0;
}
.wrap {
	margin: 0 auto;
	width: 940px;
	min-height: 500px;
}

nav {
	width: 100%;
	height: 50px;
	background-color: #4F4E52;
	color: #FFF;
	position: relative;
	z-index: 999;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav > ul > li {
	float: left;
	width: 150px;
	height: 50px;
	color: #FFF;
	line-height: 50px;
	text-align: center;
}

nav > ul > li:hover {
	background-color: #FF4D00;
}

nav > ul > li a {
	color:#FFF;
	text-decoration: none;
	display: inline-block;
	width: 150px;
	height: 50px;
}

nav > ul > li > ul > li {
	background-color: #4F4E52;
}

nav > ul > li > ul > li:hover {
	background-color: #636363;
}

nav > ul > li > ul {
	display: none;
}

nav > ul > li:hover ul {
	display: block;
}

header {
	clear: both;
	width: 100%;
	height: 400px;
	position: relative;
	overflow: hidden;
}

header > img {
	position: absolute;
	left: -940px;
	top: 0;
}

header > img:first-child {
	left: 0;
}

.contents, .contents > section {
	width: 100%;
	clear: both;
}

.contents > section {
	margin: 20px 0;
}

.best > div {
	float: left;
	width: 33.333%;
	height: 330px;
	text-align: center;
}
.best img {
	border-radius: 50%;
}
.best img:hover {
	animation: bestani 0.5s;
}
@keyframes bestani {
	from { transform:rotate(0deg); }
	to {transform:rotate(360deg);}
}

.slide-btns {
	position: absolute;
	width: 100%;
	height: 400px;
	left: 0;
	top: 0;
}

.timer-btn {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #fff;
	color: #000;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
}